/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@mixin tablet-portrait {
  @media (min-width: 500px) and(max-width: 920px) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: 0px) and(max-width: 500px) {
    @content;
  }
}
@mixin large-screen {
  @media (min-width: 1280px) and(max-width: 50000px) {
    @content;
  }
}
@mixin normal {
  @media (min-width: 900px) and(max-width: 50000px) {
    @content;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
//NAVIGATIE

.hamburger-nav{
  display: none;
  @include mobile{
    display: block;
    z-index: 100;
    position: fixed;
    width: 100%;
    margin: 5px;
    label {
	     cursor: pointer;
       font-size: 50px;
       margin-left: 5px;
       color: black;
     }

     input {
	      opacity: 0;
	      pointer-events: none;
	      position: absolute;
      }

      input:not(:checked) ~ nav {
	       display: none;
       }

      nav{
         margin-top: -16%;
         margin-left: -5px;
         background-color: white;
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

      ul {
        list-style-type: none;
        padding: 65px 0 50px 0;
      }

      li a{
        font-size: 24px;
        text-decoration: none;
        color: black;
        font-family: 'Lato', sans-serif;
      }

      li{
        border-bottom: 1px solid rgba(150, 150, 150, .7);
        width: 80%;
        margin-left: 10%;
        line-height: 2.2;
        &:last-child{
          border-bottom: none;
        }
      }

     }
   }

.header_nav {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
        opacity: 1;
  @include mobile{
    display: none;
  }
.header_nav-content{
  margin-left: 7.5%;
  margin-top: 2.5%;
  max-width: 1280px;
  @include large-screen{
  margin: auto;
}
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    height: auto;
    width: 100%;
    max-width: 1280px;
  }

  li {
    float: left;
    margin-left: 9%;
    margin-top: 3.5%;
    @include large-screen{
      margin-top: 4.2%;
      margin-left: 11%;
    }
  }

  li a {
    display: block;
    color: black;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    @include large-screen{
      font-size: 20px;
    }
  }

  li::after {
    content: '';
    display: block;
    width: 0;
    border-bottom: 3px solid black;
    transition: width 0.3s;
  }

  li:hover::after {
    width: 100%;
  }

  .active:after {
    display: none;
  }

  li .active {
    border-bottom: 3px solid black;

    &:hover {
      border: 0;
    }
  }

  img {
    width: 10%;
    margin-top: -5px;
    float: left;
    margin-left: 10%;
    padding-bottom: 1%;
    @include large-screen{
      width: 110px;
      margin-top: 3px;
    }
  }
}

.banner {
  z-index: 5;
  position: relative;
  @include large-screen{
    max-width: 1280px;
    margin: auto;
  }

  img {
    width: 100%;
    margin-top: -5%;
    @include mobile{
      margin-top: -10%;
    }
  }
}
//CONTENT

.homecontainer {
  position: relative;
  max-width: 1280px;
  margin-top: -15.5%;
  @include large-screen{
    margin: auto;
  }
}

.container{
  max-width: 1280px;
  margin: auto;
}

.content {
  width: 100%;
}

.content1 {
  z-index: 4;
  width: 100%;
  height: 45vw;
  margin-top: -15.5%;
  background-color: #f1f1f1;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 17%);
  clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 17%);
  @include large-screen{
    margin-top: -205px;
    height: 600px;
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 18%);
  }
  @include mobile{
    height: 165vw;
    margin-top: -17%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  #slideshow {
    position: relative;

    img {
      width: 40vw;
      -webkit-clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 90%, 0 90%, 0 11%);
      clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 90%, 0 90%, 0 11%);
      @include large-screen{
        width: 512px;
      }
      @include mobile{
        width: 95%;
        margin-left: 1%;
      }
    }
  }

  #slideshow > div {
    position: absolute;
    margin-left: 3%;
    margin-top: 7%;
  }

  .content-text {
    width: 40%;
    margin-right: 7.5%;
    float: right;
    margin-top: 7.5%;
    @include mobile{
      position: relative;
      float: left;
      margin-right: 0;
      margin-top: 70%;
      width: 90%;
      padding: 5%;
    }

    h1 {
      font-size: 4.5vw;
      letter-spacing: 2px;
      font-weight: lighter;
      text-align: center;
      padding: 25px 0;
      font-family: 'Montserrat', sans-serif;
      @include large-screen{
        font-size: 60px;
      }
      @include mobile{
        font-size: 9vw;
        padding: 25px 0 10px 0;
      }
    }

    p {
      font-size: 1.3vw;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding: 20px 0;
      line-height: 1.3;
      @include large-screen{
        font-size: 17px;
      }
      @include mobile{
        font-size: 4vw;
        padding: 10px 0;
      }
    }
  }
}

.content2 {
  width: 100%;
  height: 45vw;
  background-color: #e6e6e6;
  margin-top: -9%;
  -webkit-clip-path: polygon(100% 17%, 100% 17%, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
  clip-path: polygon(100% 17%, 100% 17%, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
  @include large-screen{
    height: 600px;
    margin-top: -11%;
    clip-path: polygon(100% 18%, 100% 18%, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
  }
  @include mobile{
    height: 165vw;
    clip-path: polygon(100% 5%, 100% 18%, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(100% 5%, 100% 18%, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
  }

  img {
    width: 40vw;
    -webkit-clip-path: polygon(0 0, 100% 11%, 100% 89%, 0 100%, 0 100%, 0 0);
    clip-path: polygon(0 0, 100% 11%, 100% 89%, 0 100%, 0 100%, 0 0);
    margin-left: 9%;
    margin-top: 7%;
    @include large-screen{
      width: 512px;
    }
    @include mobile{
      width: 92%;
      margin-left: 4%;
    }
  }

  .content-text {
    width: 40%;
    margin-left: 7.5%;
    float: left;
    margin-top: 7.5%;
    @include mobile{
      position: relative;
      margin-left: 0;
      margin-top: -4%;
      width: 90%;
      padding: 5%;
    }

    h2 {
      font-size: 4.5vw;
      letter-spacing: 2px;
      font-weight: lighter;
      text-align: center;
      padding: 25px 0;
      font-family: 'Montserrat', sans-serif;
      @include large-screen{
        font-size: 60px;
      }
      @include mobile{
        font-size: 9vw;
        padding: 25px 0 10px 0;
      }
    }

    p {
      font-size: 1.3vw;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding: 20px 0;
      line-height: 1.3;
      @include large-screen{
        font-size: 17px;
      }
      @include mobile{
        font-size: 4vw;
        padding: 10px 0;
      }
    }
  }

  button {
    float: left;
  }
}

.content3 {
  width: 100%;
  height: 45vw;
  margin-top: -9%;
  background-color: #d9d9d9;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 17%);
  clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 17%);
  @include large-screen{
    height: 600px;
    margin-top: -11%;
  }
  @include mobile{
    height: 165vw;
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 5%);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 5%);
  }

  img {
    width: 40vw;
    -webkit-clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 90%, 0 90%, 0 11%);
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 90%, 0 90%, 0 11%);
    margin-left: 3%;
    margin-top: 7%;
    @include large-screen{
      width: 512px;
    }
    @include mobile{
      width: 92%;
      margin-left: 4%;
    }
  }

  .content-text {
    width: 40%;
    margin-right: 7.5%;
    float: right;
    margin-top: 7.5%;
    @include mobile{
      position: relative;
      float: left;
      margin-right: 0;
      margin-top: -4%;
      width: 90%;
      padding: 5%;
    }

    h3 {
      font-size: 4.5vw;
      letter-spacing: 2px;
      font-weight: lighter;
      text-align: center;
      padding: 25px 0;
      font-family: 'Montserrat', sans-serif;
      @include large-screen{
        font-size: 60px;
      }
      @include mobile{
        font-size: 9vw;
        padding: 25px 0 10px 0;
      }
    }

    p {
      font-size: 1.3vw;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding: 20px 0;
      line-height: 1.3;
      @include large-screen{
        font-size: 17px;
      }
      @include mobile{
        font-size: 4vw;
        padding: 10px 0;
      }
    }
  }
}

.occasions{
  .car_title {
    float: left;
    width: 100%;
    margin-top: -4%;
    padding-bottom: 5%;
    @include mobile{
      margin-top: -3%;
    }
    h1 {
      font-size: 7vw;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: lighter;
      @include large-screen{
        font-size: 90px;
      }
      @include mobile{
        font-size: 11vw;
      }
    }
  }
  .sorteren{
    width: 22.5%;
    //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
    float: left;
    margin: 0.5% 0 0 5%;
    height: auto;
    background: whitesmoke;
    @include mobile{
      width: 90%;
    }
    .sorteer{
      width: 100%;
      margin: 10%;
      &:after{
        content: '';
        display: block;
        margin-left: -5%;
        margin-top: 5%;
        width: 90%;
        height: 1px;
        background-color: grey;
        opacity: 0.5;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        border: 0 !important;
        box-shadow: none;
        background: white;
        background-image: none;
        color: black;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        @include mobile{
          font-size: 4vw;
        }
      }
      .select {
        position: relative;
        display: block;
        margin-left: 5%;
        width: 70%;
        height: 2em;
        margin-top: 2%;
        line-height: 1;
        background: white;
        overflow: hidden;
        border-radius: .25em;
        @include mobile{
          width: 75%;
          margin-top: 3%;
          margin-left: 2.5%;
        }
      }
      select {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 0 0 .5em;
        cursor: pointer;
      }
      select::-ms-expand {
        display: none;
      }
      .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        line-height: 2;
        right: 0;
        bottom: 0;
        padding: 0 1em;
        background: #949494;
        pointer-events: none;
      }
      .select:hover::after {
        color: #f39c12;
      }
      .select::after {
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
      }
      input[type=submit]{
        width: 25%;
      }
    }
    .filter{
      padding: 3% 0 3% 5%;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      @include mobile{
        padding: 3% 0 3% 5%;
        width: 45%;
        height: 40vw;
        float: left;
      }
      h2{
        font-weight: normal;
        padding-bottom: 1%;
      }
    }
  }
  .post_field{
    width: 60%;
    float: left;
    margin-left: 5%;
    margin-bottom: 10%;
    @include mobile{
      width: 90%;
      margin-top: 10%;
    }
  .auto {
    width: 100%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    &:hover{
      cursor: pointer;
      transform: scale(1.02);
      filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4));
    }
    @include mobile{
      filter: none;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
      margin-top: 10%;
    }

    .auto_post {
      background: whitesmoke;
      width: 100%;
      float: left;
      height: auto;
      margin-top: 1%;
      @include mobile{
        margin-top: 0;
      }

      h1 {
        color: black;
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        font-size: 1.8vw;
        margin-top: 3%;
        text-align: center;
        @include large-screen{
          font-size: 24px;
        }
        @include mobile{
          font-size: 4.5vw;
          width: 90%;
          display: inline-block;
          padding: 2% 5% 0 5%;
        }
      }

      p {
        text-align: center;
        font-size: 3vw;
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        padding: 4% 10% 0 0;
        float: right;
        @include large-screen{
          font-size: 40px;
        }
        @include mobile{
          padding: 6% 0% 10% 5%;
          font-size: 6vw;
          float: left;
        }
      }

      img {
        width: 30%;
        height: 11.5vw;
        float: left;
        @include mobile{
          width: 100%;
          height: auto;
        }
        @include large-screen{
          height: 150px;
        }
      }
    }

    &:nth-child(odd) {
      .auto_post {
        -webkit-clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
        @include mobile{
          -webkit-clip-path: none;
          clip-path: none;
        }
      }
    }

    &:nth-child(even) {
      .auto_post {
        -webkit-clip-path: polygon(0% 0, 100% 0, 97% 100%, 0% 100%);
        clip-path: polygon(0% 0, 100% 0, 97% 100%, 0% 100%);
        @include mobile{
          -webkit-clip-path: none;
          clip-path: none;
        }
      }
    }
  }
}
}

.contact{
  h1 {
    font-size: 7vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: -5%;
    @include large-screen{
      font-size: 90px;
    }
    @include mobile{
      font-size: 11vw;
    }
  }

  iframe{
    float: left;
    width: 60%;
    height: 40vw;
    margin: 5%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
    @include large-screen{
      height: 450px;
    }
    @include mobile{
      width: 90%;
      height: 70vw;
    }
  }

  .info{
    margin-top: 5%;
    width: 25%;
    height: 40vw;
    //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.22);
    float: left;
    background: whitesmoke;
    @include large-screen{
      height: 450px;
    }
    @include mobile{
      width: 90%;
      margin-left: 5%;
      height: auto;
      margin-bottom: 10%;
    }

    h2{
      font-size: 2vw;
      padding: 15% 0 5% 0;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      text-align: center;
      @include large-screen{
        font-size: 27px;
      }
      @include mobile{
        font-size: 7vw;
        padding: 8% 0 5% 0;
      }
    }
    p{
      font-size: 1.7vw;
      padding: 5% 0%;
      line-height: 1.3;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      text-align: center;
      @include large-screen{
        font-size: 18px;
        padding: 2% 0;
      }
      @include mobile{
        font-size: 6vw;
        text-align: left;
        padding: 2% 0 0% 10%;
      }
    }
    img{
      width: 60%;
      border-radius: 50%;
      margin-left: 20%;
      margin-top: 10%;
      @include mobile{
        margin-bottom: 7%;
      }
    }
  }
}

.verkopen{
  h1 {
    font-size: 7vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-top: -5%;
    @include large-screen{
      font-size: 90px;
    }
    @include mobile{
      font-size: 11vw;
    }
}
.verkopen-text{
  width: 35%;
  margin-left: 8.5%;
  margin-top: 5%;
  background: whitesmoke;
  padding: 2%;
  float: left;
  @include mobile{
    width: 86%;
    margin-left: 5%;
  }
  &:nth-child(3){
    margin-left: 5%;
  }
  h2{
    font-size: 3vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    @include large-screen{
      font-size: 38px;
    }
    @include mobile{
      font-size: 6vw;
      padding-top: 2%;
    }
  }

  p{
    font-size: 1.5vw;
    margin-top: 3%;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    @include large-screen{
      font-size: 19px;
    }
    @include mobile{
      font-size: 4vw;
      padding: 0 4% 3% 4%;
    }
  }
}
.verkopen_form {
  display: inline-block;
  width: 83%;
  margin-left: 8.5%;
  background: whitesmoke;
  margin-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  @include mobile{
    margin-left: 5%;
    width: 90%;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 3vw;
    text-align: center;
    margin-top: 4%;
    padding-bottom: 2%;
    @include large-screen{
      font-size: 38px;
    }
    @include mobile{
      font-size: 5vw;
      padding: 2% 0 2% 0;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border: 0 !important;
    box-shadow: none;
    background: white;
    background-image: none;
    color: black;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    @include mobile{
      font-size: 4vw;
    }
  }
  .select {
    position: relative;
    display: block;
    margin-left: 25%;
    width: 50%;
    height: 3em;
    margin-top: 2%;
    line-height: 3;
    background: white;
    overflow: hidden;
    border-radius: .25em;
    @include mobile{
      width: 75%;
      margin-top: 3%;
      margin-left: 12.5%;
    }
  }
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #949494;
    pointer-events: none;
  }
  .select:hover::after {
    color: #f39c12;
  }
  .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  .verkopen_button {
    width: 20%;
    margin-top: 5%;
    margin-left: 40%;
    height: 2vw;
    background-color: #949494;
    border-radius: .25em;
    &:hover{
      cursor: pointer;
      transform: scale(1.01);
    }
    @include large-screen{
      height: 30px;
    }
    @include mobile{
      width: 40%;
      margin-left: 30%;
      height: 10vw;
    }
    p{
      color: white;
      font-size: 1.5vw;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      text-align: center;
      line-height: 1.4;
      @include large-screen{
        font-size: 20px;
      }
      @include mobile{
          font-size: 5vw;
          line-height: 1.8;
      }
    }
  }
}
}

button {
  background: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: black;
  display: block;
  font-size: 13px;
  float: right;
  font-weight: 500;
  margin-top: 15px;
  padding: 4px 13px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

button::after,
button::before {
  background: black;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: white;
}

.auto_button {
  overflow: hidden;
  @include tablet-portrait{
    display: none;
  }
}

.auto_button::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.7s;
  transform-origin: top left;
  width: 0;
}

.auto_button:hover:after {
  height: 100%;
  width: 135%;
}

footer{
    background-color: #5b5b5d;
    height: 150px;
    width: 100%;
    display: inline-block;
    .footer-content{
      max-width: 1280px;
      margin: auto;
      @include mobile{
        margin-left: 10%;
      }
      .footer-made{
          color: white;
          font-family: 'Lato', sans-serif;
          font-weight: lighter;
          float: right;
          margin-right: 25px;
          margin-top: 65px;
          @include mobile{
            margin-top: 20px;
            margin-left: 12.5%;
            float: left;
            font-size: 4vw;
          }
      }
      p{
      a{
        text-decoration: none;
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        float: left;
        padding: 25px;
        margin-top: 40px;
        @include mobile{
          margin-top: 40px;
          padding: 1.5%;
          font-size: 4vw;
        }
      }
    }
    }
}
